@model MvcCv.Models.TBL_ADMİN
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-3">Kullanıcı Ekle</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID)

    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })

    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })


    <button class="btn btn-success mt-3">Ekle</button>
}

<a href="/Admin/Index" class="btn btn-primary mt-3">Listeye Geri Dön</a>